<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ENV" value="dev" />
    <add key="AppName" value="TaskCat" />
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=yjportalvhdsyvj75hhb7rnh;AccountKey=RK5EKD8TN3TInZzHrlkBAL7zssGG/3MkuRPgueIL/499v6tZ4vG7yCdySGNq2F4jJsO1hjwTvusON4eEjXSbGQ==" />
    <add key="BlobStorageContainerName" value="testblob" />
    <add key="TaskCat.DbName" value="taskcatdev" />
    <add key="ShadowCat.LocationCacheCollectionName" value="pings" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Mongo.ConnectionString" connectionString="mongodb://gofetch.cloudapp.net:27017" />
    <add name="ShadowCat.ConnectionString" connectionString="mongodb://gofetch.cloudapp.net:27017" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>