<div layout="column" class="md-inline-form">
  <form name="deliveryForm" layout-padding class="md-block">
    <div layout="column">
      <md-input-container class="md-block">
        <label>From</label>
        <md-autocomplete
        nc-places-autocomplete
        md-items="item in autovm.results"
        md-selected-item="selectedItem"
        md-item-text = "item.description"
        md-search-text="searchText">
        <md-item-template>
          <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.description}}</span>
        </md-item-template>
      </md-autocomplete>
      </md-input-container>
      <md-input-container class="md-block">
        <label>To</label>
        <input ng-model="vm.order.To">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Asset</label>
        <input ng-model="vm.order.Asset">
      </md-input-container>
    </div>
  </form>
</div>
