<div flex layout="column">
  <md-grid-list
        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
        md-row-height-gt-md="16:10" md-row-height="16:9"
        md-row-height-md="16:10"
        md-gutter="8px" md-gutter-gt-sm="4px" >
    <md-grid-tile ng-repeat="order in vm.orders"
                  md-colspan-sm="1"
                  nc-back-img="{{order.ImageUrl}}" >
      <md-icon md-svg-icon="{{order.icon}}"></md-icon>
      <md-grid-tile-header>
        <h2 class="toUpperCase">{{order.ActionName}}</h2>
        <h1 class="toUpperCase">{{order.OrderName}}</h1>
      </md-grid-tile-header>
    </md-grid-tile>

  </md-grid-list>
</div>
