body {
  font-family: 'Roboto', sans-serif;
}

.toUpperCase {
  text-transform: uppercase;
}

h2, h3, h1 {
  font-weight: normal;
}

md-sidenav md-toolbar h3 {
  margin-left: 10px;
}

md-grid-list md-grid-tile md-grid-tile-header {
  height: auto;
}

md-grid-list md-grid-tile md-grid-tile-header h2 {
  margin-left: 10px;
  font-weight: lighter;
  padding-bottom: 0;
  margin-bottom: 0;
}

md-grid-list md-grid-tile md-grid-tile-header h1 {
  margin-left: 10px;
  font-weight: bold;
  padding-top: 2px;
  margin-top: 2px;
}
