<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNet.Identity.MongoDB" version="2.0.8" targetFramework="net452" />
  <package id="CompareNETObjects" version="3.05.0.0" targetFramework="net452" />
  <package id="iTextSharp" version="5.5.10" targetFramework="net452" />
  <package id="Its.Configuration" version="1.0.6" targetFramework="net452" />
  <package id="Marvin.JsonPatch" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="MongoDB.Bson" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver" version="2.4.0" targetFramework="net452" />
  <package id="MongoDB.Driver.Core" version="2.4.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net452" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net452" />
</packages>